.chat__main__content{"data-chat-id": "#{chat.id}"}
  .chat__main__content__info
    %span.chat__main__content__info__username
      = chat.user.name
    %span.chat__main__content__info__date
      = chat.created_at.strftime("%Y年%m月%d日 %H時%M分")

  %p.chat__main__content__text
    - if chat.content.present?
      = chat.content
  = image_tag chat.image.url, class: 'chat__main__content__text__image' if chat.image.present?
