= render partial: "side_bar"

.chat
  .chat__group
    .chat__group__btn
      = link_to "Edit", edit_group_path(params[:group_id]), method: :get, class: "edit_link"
    .chat__group__info
      .chat__group__info__name
        = @group.name
      .chat__group__info__member
        Members:
        - @members.each do |member|
          = member.name


  .chat__main
    = render @chats

  .chat__message
    = form_for [@group, @chat] do |f|
      = f.submit 'Send', class: 'chat__message__btn'
      -# Send
      .chat__message__form
        = f.text_field :content, class: 'chat__message__form__text', id: 'message_form', placeholder: 'type a message'
        .chat__message__send__form__text--img
          = f.label :image, class: 'chat__message__form__text--img__label' do
            = fa_icon 'picture-o', class: 'chat__message__form__text--img__label__icon'
            = f.file_field :image, class: 'chat__message__form__text--img__label__upload'
            -# %input{name: "image", type:"file", id: "upload-icon"}



